<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="info card-body">
            <div class="introduction">
              <div class="details">
                <img src="../../assets/img/faces/huzaifa_profile_pic.jpg" alt="huzaifa">
                <div style="display: flex; flex-direction: column; justify-content: center; margin-left: 20px;">
                  <h3 class="mt-0 mb-0" style="line-height: 22px;">
                    Mohammed Huzaifa
                  </h3>
                  <span style="color: #676767; font-size: small;">mohammed.huzaifa@collabily.com</span>
                  <h5 style="color: #676767; letter-spacing: 0.05rem; font-size: smaller;">
                    Senior Brand Manger at <b>Nike.in</b>
                  </h5>
                </div>
              </div>
              <div style="display: flex; flex-direction: column; justify-content: center;">
                <span style="color: #676767d8; letter-spacing: 0.05rem; font-weight: 400;">
                  Joined on
                </span>
                <p style="color: #2e2e2e; letter-spacing: 0.05rem; margin: 0; font-size: smaller;">
                  16th January, 2022
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card info_card">
          <div class="card-body">
            <h3>
              Platform Settings
            </h3>
            <p>
              Account
            </p>
            <mat-slide-toggle color="primary" labelPosition="before" [checked]="true">Allow influencers to reach me directly</mat-slide-toggle>
            <mat-slide-toggle color="primary" labelPosition="before" [checked]="true">Alert me when campaign performance drops</mat-slide-toggle>
            <mat-slide-toggle color="primary" labelPosition="before" [checked]="true">Email me when a new contact tries to reach me</mat-slide-toggle>

            <br>
            <p>
              Application
            </p>
            <mat-slide-toggle color="primary" labelPosition="before" [checked]="false">Subscribe to newsletter</mat-slide-toggle>
            <mat-slide-toggle color="primary" labelPosition="before" [checked]="true">Monthly product updates email</mat-slide-toggle>
            <mat-slide-toggle color="primary" labelPosition="before">New product and service launches</mat-slide-toggle>


          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card info_card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <h3 class="mb-0">
                Profile Information
              </h3>
              <i class="material-icons">edit</i>
            </div>
            <p style="text-transform: none;">
              Hi, I'm Mohammed Huzaifa. I'm a brand manager at Nike India Pvt Limited. I look for emerging talents for our latest Ad campaigns.
            </p>
            <span>
              Full Name
            </span>
            <h6>
              Mohammed Huzaifa
            </h6>
            <span>
              Email
            </span>
            <h6>
              mohammed.huzaifa@gmail.com
            </h6>
            <span>
              Mobile
            </span>
            <h6>
              +91 887 953 9141
            </h6>
            <span>
              Location
            </span>
            <h6>
              India
            </h6>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card info_card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <h3 class="mb-0">
                Brand Information
              </h3>
              <i class="material-icons">edit</i>
            </div>
            <h2 style="color: #344767; font-weight: 500;">
              Nike.in
            </h2>
            <span>
              Home Page
            </span>
            <h6>
              <a href="https://www.nike.com/in/" target="_blank" rel="noopener noreferrer">https://www.nike.com/in/</a>
            </h6>
            <span>
              Email
            </span>
            <h6>
              <a href="mailto:support.nike@nike.in">support.nike@nike.in</a>
            </h6>
            <span>
              Phone
            </span>
            <h6>
              <a href="tel:+91 9879539146">+91 987 953 9146</a>
            </h6>
            <span>
              Location
            </span>
            <h6>
              India
            </h6>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
