<div class="main-content" style="padding: 15px;">
  <div class="container-fluid h-100">
    <div class="d-flex w-100 h-100 responsive_row_to_column">
      <div class="details h-100 d-flex flex-column justify-content-between">
        <div class="d-flex w-100 align-items-center responsive_row_to_column">
          <img src="../../../../assets/img/faces/mkbhd.jpg" alt="logo" class="influencer_image">

          <div class="d-flex flex-column justify-content-between ml-2 w-100">
            <h1 class="d-flex align-items-center" style="letter-spacing: 0.03rem; color: darkblue;">
              Marques Brownlee
            </h1>
            <div class="d-flex w-100 justify-content-between align-items-center pl-1">
              <div class="stats">
                <a href="mailto:marques@mkbhd.com"><i class="material-icons">email</i> marques@mkbhd.com</a>
              </div>
              <div class="stats">
                <a href="https://mkbhd.com/"><i class="material-icons">public</i>mkbhd.com</a>
              </div>
              <div class="stats">
                <i class="material-icons">place</i> NYC, USA
              </div>
            </div>
          </div>
        </div>

        <span class="d-block mt-3 mb-2">
          <span class="badge">
            Quality Tech Videos
          </span>
          <span class="badge">
            YouTuber
          </span>
          <span class="badge">
            Consumer Electronics
          </span>
          <span class="badge">
            Internet Personality
          </span>
        </span>

        <h6 style="line-height: 24px; margin-bottom: 5px;">
          I'm an America based YouTuber and professional ultimate frisbee player. I'm best known for my
          technology-focused videos as well as podcast Waveform. As of December 2021, i have over 15 million subscribers
          and over 2.7 billion total video views.
        </h6>
        <div class="d-flex flex-row align-items-center justify-content-between mb-3">
          <div>
            Links:
            <button mat-icon-button class="example-icon" matTooltip="Website" matTooltipPosition="after" aria-label="Example icon-button with share icon">
              <mat-icon style="font-size: large;">public</mat-icon>
            </button>
            <button mat-icon-button class="example-icon favorite-icon" matTooltip="Instagram" matTooltipPosition="after" aria-label="Example icon-button with heart icon">
              <fa-icon [icon]="instagram" style="font-size: large;"></fa-icon>
            </button>
            <button mat-icon-button class="example-icon" matTooltip="Facebook" matTooltipPosition="after" aria-label="Example icon-button with share icon">
              <fa-icon [icon]="facebook" style="font-size: large;"></fa-icon>
            </button>
            <button mat-icon-button class="example-icon" matTooltip="Twitter" matTooltipPosition="after" aria-label="Example icon-button with share icon">
              <fa-icon [icon]="twitter" style="font-size: large;"></fa-icon>
            </button>
            <button mat-icon-button class="example-icon" matTooltip="YouTube" matTooltipPosition="after" aria-label="Example icon-button with share icon">
              <fa-icon [icon]="youTube" style="font-size: large;"></fa-icon>
            </button>
          </div>
          <button mat-raised-button color="primary" style="background-color: darkblue; display: flex; align-items: center; justify-content: center;">
            <mat-icon style="width: 18px; height: 18px; font-size: 16px; vertical-align: text-bottom; margin-right: 5px;">person_add_alt_1</mat-icon>
            <span class="actions_text"> Connect</span>
          </button>
        </div>

        <app-region-chart></app-region-chart>

      </div>
      <div class="media h-100 d-flex justify-content-between align-items-center flex-column">
        <div class="d-flex flex-column w-100">
          <h6 class="d-flex justify-content-between flex-row align-items-center">
            <span style="font-weight: 600; display: flex; align-items: center;">
              <fa-icon [icon]="instagram" style="font-size: large; margin-right: 5px;"></fa-icon> Instagram</span>
            <span style="font-size: x-small;">(last posted on: 18th February, 2022)</span>
          </h6>
          <div class="d-flex flex-row justify-content-between insta">
            <div class="card">
              <div class="card-body">
                <h2>1,736</h2>
                <p>posts</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h2>3.3M</h2>
                <p>Followers</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h2>432</h2>
                <p>Following</p>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex flex-column w-100">
          <h6 class="d-flex justify-content-between flex-row align-items-center">
            <span style="font-weight: 600; display: flex; align-items: center;">
              <fa-icon [icon]="facebook" style="font-size: large; margin-right: 5px;"></fa-icon>Facebook
            </span>
            <span style="font-size: x-small;">(last posted on: 18th February, 2022)</span>
          </h6>
          <div class="d-flex flex-row justify-content-between facebook">
            <div class="card">
              <div class="card-body">
                <h2>236</h2>
                <p>posts</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h2>600K</h2>
                <p>Followers</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h2>400K</h2>
                <p>Likes</p>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex flex-column w-100">
          <h6 class="d-flex justify-content-between flex-row align-items-center">
            <span style="font-weight: 600; display: flex; align-items: center;">
              <fa-icon [icon]="twitter" style="font-size: large; margin-right: 5px;"></fa-icon> Twitter
            </span>
            <span style="font-size: x-small;">(last posted on: 18th February, 2022)</span>
          </h6>
          <div class="d-flex flex-row justify-content-between twitter">
            <div class="card">
              <div class="card-body">
                <h2>52.2K</h2>
                <p>tweets</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h2>5.2M</h2>
                <p>Followers</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h2>432</h2>
                <p>Following</p>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex flex-column w-100">
          <h6 class="d-flex justify-content-between flex-row align-items-center">
            <span style="font-weight: 600; display: flex; align-items: center;">
              <fa-icon [icon]="youTube" style="font-size: large; margin-right: 5px;"></fa-icon> YouTube
            </span>
            <span style="font-size: x-small;">(last posted on: 18th February, 2022)</span>
          </h6>
          <div class="d-flex flex-row justify-content-between youtube">
            <div class="card">
              <div class="card-body">
                <h2>15.3M</h2>
                <p>Subscribers</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h2>1200</h2>
                <p>Videos</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h2>2.8M</h2>
                <p>Views</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
