<div id="mySidenav" #mySidenav class="sidenav">
  <div *ngIf="displayContent">
    <div class="w-100 d-flex justify-content-center align-items-center" style="height: 100vh;" *ngIf="loading">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="sidebar-header" *ngIf="!loading">
      <h3 class="m-0">
        {{ title }}
      </h3>
      <span class="closebtn" (click)="closeNav()">&times;</span>
    </div>
    <div class="sidebar-content" *ngIf="!loading">
      <ng-content></ng-content>
    </div>
  </div>
</div>
